resources/data/*
resources/experiments/*
resources/hdf5/*
MobileSAM/assets/*.jpg
MobileSAM/assets/*.png
MobileSAM/app/assets/*.jpg
MobileSAM/app/assets/*.png
__pycache__
lightning_logs
MobileSAM/mobile_sam/__pycache__/*
